.update-page{
    text-align: center;
    margin-left: 10px;
     .buttons{
         display: flex;
         
         .div2{
             margin-left: 10px;
         }
     }
    .backbutton{
        
        color: rgb(247, 12, 12);
    }
}