.accept{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1vw;
        .box1{
            border: 3px solid rgb(73, 5, 1);
        margin-left: 30%;
        margin-right: 30%;
        background-color: rgb(219, 208, 208);
        height: 20vh;
        width: 40vw;
        padding: 3vw;
        
    }
    .box2{
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5%;
        border: 3px solid rgb(73, 5, 1);
        background-color: rgb(219, 208, 208);
        height: 20vh;
        width: 40vw;
        padding: 3vw;
        
    }
}