

.cartTable
{
  width: 80%;
  font-size: larger;
  left: 10%;
  right: 10%;
  align-content: center;
  border-style: groove;
  border: 1px solid;
  margin-left: 10%;
  
}
.stripe{
  margin-left: 50%;
}

.totalprice
{
  
  font-size: larger;
  margin-left: 48%;
  
  
}
